/*datos personales Alejandro Rivada Rodríguez UO295528*/  

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #3c9996;
}

header
{
    text-align: center;
    background-color: #32bcb7;
    color: #0000009e;
}

h2 
{
    padding: 1em;
}

a:link {
  color: #0000009e;
}
