/*datos personales Alejandro Rivada Rodríguez UO295528*/  

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #3c9996;
}

header
{
    text-align: center;
    background-color: #32bcb7;
    color: #D3C4B9;
}

h2 
{
    padding: 1em;
}

nav{
    color:#D3C4B9;
}
